/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  /* background-color: white; */
}

body {
  font-size: 1rem;
  line-height: 1.6;
  padding-top: 60px;
  background-color: white;
  color: #333;
}
a {
  color: #464e55;
  text-decoration: none;
}
.nav-links {
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-links:hover {
  /* color: red; */
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  /* position: fixed; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  max-width: auto;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  background-color: white;
  /* padding-top: 0.5rem; */
  /* margin-bottom: 56px; */
}

/* Text Styles*/
.x-large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 30%;
  color: #343a40;
  margin-bottom: 1rem;
}
.dev {
  font-size: 2rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reg-size {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #343a40;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #343a40;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin-bottom: 1rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.bg-post {
  color: #fff;
  background-color: #464e55;
}
.btn-post {
  color: #fff;
  background-color: #464e55;
}
.profile-buttons {
  background-color: whitesmoke;
  color: #464e55;
}
.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}
.form {
  border: #c4302b;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.nav-top {
  display: flex;
  flex-direction: row;
  /* float: right;*/
}

.navButtons {
  border: 1px solid #464e55;
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: 35px;
  background-color: white;
  margin: 5px;
  padding: 5px 10px 0px 10px;
}

.pre-Buttons {
  border: 1px solid #464e55;
  border-radius: 5px;
  text-align: center;
  width: 80px;
  height: 40px;
  background-color: white;
  margin: 5px;
}
.pre-Buttons:hover {
  background-color: #464e55;
  color: white;
}

.navButtons:hover {
  background-color: #464e55;
  color: white;
}
.link-btn {
  color: #c4302b;
}
.link-btn:hover {
  text-decoration: underline;
}
.navbar ul {
  display: flex;
}

.navbar li {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

/* .navbar a:hover {
  color: var(--primary-color);
} */

.navbar .welcome span {
  margin-right: 0.6rem;
}
.column {
  float: left;
  width: 40%;
  padding: 0 10px;
  margin-top: 30px;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */
  /* this adds the "card" effect */
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  background-color: #b0bec5;
  display: flex;
  flex-direction: row;
}

/* Landing Page */
.landing {
  /* position: relative; */
  background: url('./img/comma.jpg') no-repeat center center/cover;
  /* margin: 0; */
  height: 70vh;
}

.land-large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 20%;
  color: white;
  margin-bottom: 1rem;
}
.land-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: white;
}

.landing-inner {
  color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}
.land-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.land-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 10px 50px 10px 50px; */
}
.land-content > div {
  padding: 3.5rem;
}
.land-content > div > b {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer {
  margin-top: 3rem;
  background-color: #464e55;
  padding-right: 100px;
  padding-left: 100px;
}
.land-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
  margin-top: 50px;
  background-color: #464e55;
  color: #90a4ae;
  padding-top: 40px;
  padding-bottom: 20px;
}
.last {
  display: flex;
  color: #90a4ae;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  /* padding-right: 70px; */
  padding-bottom: 30px;
  /* padding-left: 65px; */
}

.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #90a4ae;
}
.footer-body > a {
  color: #90a4ae;
  margin-top: 1rem;
}
.footer-body > b {
  color: #b0bec5;
}
.specialButtons {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  width: 105px;
  height: 35px;
  padding-top: 5px;
  border-radius: 55px;
  align-items: center;
  text-align: center;
  margin: 7px;
}
.fa-arrow-right {
  display: none;
}
.specialButtons:hover {
  border: 0px;
  background-color: #464e55;
  color: white;
}
.special {
  display: flex;
  flex-direction: row;
}

.dash-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.dash-buttons-dash {
  background-color: #464e55;
  color: white;
  border-radius: 5px;
  height: 10rem;
  width: 14rem;
}
.post-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dash-danger {
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
}
.dash-buttons-dash:hover {
  background-color: #90a4ae;
}

/* Profiles Page */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #464e55;
  color: white;
  border: 0px;
  border-radius: 10px;
  /* text-align: center; */
  /* grid-template-columns: 2fr 4fr 2fr; */
  align-items: center;
  /* grid-gap: 2rem; */
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.pro-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pro-profile h2 {
  margin-left: 1rem;
}
/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  border-radius: 10px;
  background-color: #464e55;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  border-radius: 10px;
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.profile-exp {
  grid-area: exp;
  border-radius: 10px;
}

.profile-edu {
  grid-area: edu;
  border-radius: 10px;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  background-color: #464e55;
  color: white;
  border: none;
  border-radius: 10px;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.last > div > span > b {
  margin-right: 3rem;
  font-size: 20px;
}
.last > div > a > i {
  color: white;
  margin-right: 2rem;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.btn-body {
  width: auto;
  background-color: transparent;
  color: white;
  width: auto;
  /* border: 1px solid white; */
  /* height: 100px; */
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
}
.btn-body:hover {
  background-color: #90a4ae;
}
.post-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-post-body {
  background-color: #464e55;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.profile-buttons i {
  padding-right: 10px;
}
.fa-edit {
  padding-right: 10px;
}

@media (max-width: 800px) and (min-width: 601px) {
  /* .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .navButtons {
    border: 0px;
    padding: 0px 0px 0px 0px;
    margin: 15px 20px 0px 20px;
  }
  .navButtons:hover {
    background-color: white;
    color: #464e55;
  }
  .hide-md {
    display: none;
  }
  .landing {
    height: 50vh;
  }
  .last > div > span > b {
    margin-right: 0rem;
    font-size: 15px;
  }
  .last > div > a > i {
    color: white;
    margin-right: 1.5rem;
  }
  .land-content > div {
    padding: 2rem;
  }
  .footer {
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* Mobile Styles */
@media (max-width: 600px) {
  .fa-edit {
    padding-right: 0px;
  }
  .profile-buttons i {
    padding-right: 0px;
  }
  .pro-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .last > div > a > i {
    margin-top: 1rem;
  }
  .last {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .land-content > div {
    padding: 2rem;
  }
  .land-content > div > b {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .land-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column {
    width: 85vw;
  }
  .landing {
    margin-top: 0px;
  }
  .footer {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footer-body > b {
    margin-top: 2rem;
  }
  .land-footer {
    padding-top: 0px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }
  .container {
    margin: auto;
    /* margin-bottom: 56px; */
    overflow: hidden;
  }
  .hide-sm {
    display: none;
  }
  .reg-size {
    font-size: 2rem;
  }
  /* Text Styles */
  .x-large {
    font-size: 1.5rem;
    margin-top: 13rem;
  }

  .large {
    font-size: 1rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    height: 3rem;
    margin-top: 10px;
    border-bottom: solid 1px white;
    /* display: block; */
    /* text-align: center; */
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .navButtons {
    border: 0px;
    padding: 0px 0px 0px 0px;
    margin: 15px 10px 0px 10px;
  }
  .navButtons:hover {
    background-color: white;
    color: #464e55;
  }
  .dev {
    font-size: 1.5rem;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
  }

  .dash-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .dash-buttons-dash {
    border-radius: 10px;
    width: 90%;
    height: 10rem;
    margin: 10px;
  }
  .last {
    display: flex;
    flex-direction: column;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

@media (max-width: 376px) {
  .fa-edit {
    padding-right: 0px;
  }
  .dash-buttons-dash {
    border-radius: 10px;
  }
  .pro-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .container { */
  /* margin-bottom: 56px; */
  /* } */
  .hide-xs {
    display: none;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .last > div > span > b {
    margin-right: 1rem;
  }
  .last > div > a > i {
    margin-right: 1.5rem;
  }
  .navButtons:hover {
    background-color: white;
    color: #464e55;
  }
}
