@font-face {
  font-family: 'iCielMedium';
  src: local('iCielMedium'), url('./fonts/iCiel-Medium.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'iCielMedium';
}
